<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mwim.qcloud.tim.uikit">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application>
        <activity
            android:name="com.mwim.qcloud.tim.uikit.component.video.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mwim.qcloud.tim.uikit.component.video.VideoViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.mwim.qcloud.tim.uikit.component.photoview.PhotoViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mwim.qcloud.tim.uikit.modules.group.info.GroupInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mwim.qcloud.tim.uikit.component.SelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mwim.qcloud.tim.uikit.modules.group.apply.GroupApplyManagerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.mwim.qcloud.tim.uikit.modules.group.apply.GroupApplyMemberActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.mwim.liteav.SelectContactActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.mwim.liteav.trtcaudiocalldemo.ui.TRTCAudioCallActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.mwim.liteav.trtcvideocalldemo.ui.TRTCVideoCallActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <!--    业务逻辑    -->
        <activity android:name="com.mwim.qcloud.tim.uikit.business.active.MwWorkActivity" android:theme="@style/Theme.AppCompat.Slider"/>
        <activity android:name="com.mwim.qcloud.tim.uikit.business.active.ChatActivity"/>
        <activity android:name="com.mwim.qcloud.tim.uikit.business.active.AddMoreActivity"/>
        <activity android:name="com.mwim.qcloud.tim.uikit.business.active.BlackListActivity"/>
        <activity android:name="com.mwim.qcloud.tim.uikit.business.active.FriendProfileActivity"/>
        <activity android:name="com.mwim.qcloud.tim.uikit.business.active.NewFriendActivity"/>
        <activity android:name="com.mwim.qcloud.tim.uikit.business.active.GroupListActivity"/>
        <activity android:name="com.mwim.qcloud.tim.uikit.business.active.StartC2CChatActivity"/>
        <activity android:name="com.mwim.qcloud.tim.uikit.business.active.StartGroupChatActivity"/>
        <provider
            android:name="com.mwim.qcloud.tim.uikit.utils.TUIKitFileProvider"
            android:authorities="${applicationId}.uikit.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public"/>
        </provider>

    </application>

</manifest>
